<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SPA</title>
</head>
<body>
    <!--Menu-->
	<ul>
		<li><a href="catalogoCitas.ejs" title="catalogoCitas">Catalogo</a></li>
		<li><a href="citasDelUsuario.ejs" title="citasUsuario">Citas</a></li>
		<li><a href="clientes.ejs" title="clientes">Clientes</a></li>
		<li><a href="index.ejs" title="index">Menu</a></li>
        <li><a href="Contacto.ejs" title="contacto">Contacto</a></li>
	</ul>

    <h1> TIPOS DE CITAS </h1>
    <ul>
        <li> Masaje </li>
        <li> Mascarilla </li>
    </ul>
</body>
</html>