<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> SPA </h1>

    <div>
        <a href="/clientes"> Liga a ruta de clientes </a>
    </div>
    <div>
        <a href="/clientes/citasDelCliente"> Liga a ruta de citas del cliente </a>
    </div>
    <div>
        <a href="/CatalogoCitas"> Liga a catalogo de citas </a>
    </div>
    <title>SPA</title>

</head>
<body>
    <h1> SPA </h1>
    <!--Menu-->
	<ul>
		<li><a href="/CatalogoCitas" title="catalogoCitas">Catalogo</a></li>
		<li><a href="/clientes/citasDelCliente" title="citasUsuario">Citas</a></li>
		<li><a href="/clientes" title="clientes">Clientes</a></li>
		<li><a href="/" title="index">Menu</a></li>
        <li><a href="/contacto" title="contacto">Contacto</a></li>
	</ul>
        
</body>
</html>