<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Spartan&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="/views/styles/Index-style.css">
    <link rel="stylesheet" href="/views/styles/ripple-background.css">
    <title>SPA</title>
</head>
<body>
    <div class='ripple-background'>
        <div class='circle xxlarge shade1'></div>
        <div class='circle xlarge shade2'></div>
        <div class='circle large shade3'></div>
        <div class='circle mediun shade4'></div>
        <div class='circle small shade5'></div>
      </div>
  <nav>
      <h3>SPA</h3>
      <ul>
          <li><a href="/">Inicio</a></li>
          <li><a href="/LoginF">Login</a></li>
          <li><a href="#">Servicios <i class="icon ion-md-arrow-dropdown"></i></a>
              <ul>
                  <li><a href="/CatalogoCitas">Catalogo</a></li>
              </ul>
          </li>
          <li><a href="/contacto">Contacto</a></li>
      </ul>
  </nav>

</body>
</html>