<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="title-container">
        <h1> FORMA FRESONA </h1>
    </div>
    <form action="/clientes" method="POST">
        <div class="username-container">
            <label for="username">Username: </label>
            <input type="username" name="username" id="username">
        </div>
        <div class="password-container">
            <label for="password">password: </label>
            <input type="password" name="password" id="password">
        </div>
        <input type="submit" value="Submit">
    </form>
</body>
</html>